body {
	background-image: url("../image/background.jpg");
}

img {
	width: 5%;
	height: 5%;
}

div.header {
	top: 0;
	width: 100%;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 1%;
	overflow: hidden;
	background-color: #ff0000;
	text-align: center;
}

#menu li {
	display: inline;
	color: #ADFF2F;
	padding: 5%;
}

#menu a {
	text-decoration: none;
	color: #0000ff;
	font-family: Arial;
	font-size: 18pt;
	font-weight: bold;
}

#menu a:hover {
	color: #ffffff;
}

section {
	text-align: left;
	display: inline-block;
	width: 1000px;
	height: 200px;
	padding: 5%;
	margin-top: -2%;
}

section img {
	width: 10%;
	height: auto;
	margin-right: 8%;
}

#intro p {
	font-family: Serif;
	font-size: 15pt;
	background: #ffffff;
	color: #000000;
}

#history li {
	font-size: 15pt;
	background: #ffffff;
}

#skill ul {
	font-size: 14pt;
	background: #ffffff;
}

#about {
	margin-bottom: 20%;
}

#about p {
	font-size: 18pt;
	background: #ffffff;
	color: #000000;
}

hr#last_hr {
	margin-top: 5%;
}

div.footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 44px;
	font-size: 12pt;
	background-color: #ff00ff;
	color: #ffffff;
}

h1 {
	text-align: center;
	font-family: Arial;
	font-size: 45pt;
	color: #ff0000;
	background: #00ff00;
}

h2 {
	font-family: Arial;
	font-size: 38pt;
	color: #ffffff;
	background: #000000;
}
